.etsy_options .cmb-td {
	width: 80%;
}

.etsy_options .import-count {
	margin-top: 35px;
}

.etsy_options #api-key {
	max-width: 215px;
	min-width: 215px;
}

.etsy_options #store-id {
	max-width: 80px;
	min-width: 80px;
}

.etsy_options .checkbox {
	float: left;
}

.etsy_options label {
	display: block;
}

.etsy_options .button-primary {
	width: 125px;
}

.etsy_options .button-primary:active {
	padding-top: 0;
	vertical-align: baseline;
}

.etsy_options .submit {
	margin-bottom: 10px;
	padding: 10px 15px 0;
}

.etsy_options .save-notes {
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0 0 0 15px;
}

.etsy_options .button-import {
	background: #34B928;
	border-color: #2C9B22;
	float: left;
}

.etsy_options .button-import:active,
.etsy_options .button-import:hover {
	background: #2C9B22;
}
